<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>No! 404!</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html> 