.footer {
    margin-top: auto;

    border-right: 4px solid #d4d4d4;
    border-left: 4px solid #d4d4d4;
    border-bottom: 4px solid #d4d4d4;
    //border-collapse: collapse;
    height: 60px;
    bottom: 0px;
    //overflow: hidden;
    // width: calc(100% - 8px);
    width: 100%;
    // position: absolute;
}