.form{
    width: 35%;
    margin-top: 7%;
    margin-left: 32.5%;
    .forgotPass{
        text-decoration: none;
        color: #000099
    }
    .acc{
        color: #000099
    }
}

.acc{
    cursor: pointer;
}