.problemset{
    display: flex;
    flex-direction: column;
    width: 65%;
    overflow: hidden;
    margin: 5% 15% 0% 15%;

    .pagination{
        margin: auto;
        padding-top: 0.5em;
        padding-bottom: 1.5em;
    }
}